@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="rolemasterController">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Manage Roles</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">USER ROLE</li>
            <li class="breadcrumb-item active" aria-current="page">
                <a asp-controller="userrole" asp-action="index">HOME</a>
            </li>
        </ol>
    </div>
    <partial name="_CreateRole"></partial>
    <partial name="_EditRole"></partial>
    <partial name="_Roles"></partial>
</div>



@section Scripts
{
<script src="~/apps/directives/ngEnter.js"></script>
<script src="~/apps/controllers/rolemaster.controller.js"></script>
<script src="~/apps/services/userrole.service.js"></script>
}
