<!DOCTYPE html>
<html lang="en" ng-app="smsApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="img/logo/logo.png" rel="icon">
    <title>@ViewData["Title"] - School management system</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/ruang-admin.min.css" rel="stylesheet" />
    <link href="~/css/spinner.css" rel="stylesheet" />
</head>

<body id="page-top" ng-controller="siteController">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <partial name="_LoginNavbar"></partial>
                <div class="container-fluid" id="container-wrapper">
                    @RenderBody()
                </div>
            </div>
            <!-- Footer -->
            <partial name="_Footer"></partial>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    @* <script src="js/ruang-admin.min.js"></script> *@
    <script src="~/nglibrary/angular.js"></script>
    <script src="~/nglibrary/angular-animate.js"></script>
    <script src="~/nglibrary/angular-route.js"></script>
    <script src="~/nglibrary/angular-cookies.js"></script>
    <script src="~/nglibrary/angular-sanitize.js"></script>
    <script src="~/apps/app.js"></script>
    <script src="~/apps/controllers/site.controller.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>