<nav class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top">
    <span class="text-white">SMS</span>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-action="login" asp-controller="user">
                <span>Login</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="register" asp-controller="user">
                <span>Register</span>
            </a>
        </li>
    </ul>
</nav>